


<!-- inputlara ng modeller belirlenir ve directive password_confirm tarafında çağırılır     -->
		<div class="modal-content">
    			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">
						Create an account
					</h4>
				</div>
				<div class="modal-body">
					<form  ng-submit="submit()" novalidate name="register">
					
						
						<div class="form-group">
							<label class="control-label" for="email">Email</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								<input  name="email" ng-model="email" class="form-control" placeholder="email@example.com"  type="email">
								<p class="help-block" ng-show="register.email.$dirty && register.email.$invalid"> dünzgün mail git</p>
							</div>
						</div>
							
						<div class="form-group">
							<label class="control-label" for="password">Password</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
								<input name="password" ng-model="password" class="form-control" placeholder="password" type="password" required>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="password">Confirm password</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
								<input name="password_confirm" ng-model="password_confirm" class="form-control" placeholder="confirm password"  type="password" validate-equals="password">
								<p class="help-block" ng-show="register.password_confirm.$dirty && register.password_confirm.$invalid"> Please match the password</p>
							</div>
						</div>
						
					
						
						<button ng-disabled="register.$invalid"  type="submit" id="btnSignUp" class="btn btn-primary" >Create an account</button>
					</form>
					
				</div>
				
			</div>
